<div class="container">

  <div class="row mt-5 mb-2">
    <div class="col-md-2">
      <h2>Usuarios</h2>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-info btn-menu" type="button" disabled>
        <i class="fa fa-pencil"></i> Editar
      </button>

      <button class="btn btn-outline-danger btn-menu" type="button" disabled>
        <i class="fa fa-trash"></i> Eliminar
      </button>
      <button class="btn btn-outline-dark btn-menu" type="button" disabled>
        <i class="fa fa-close"></i> Cerrar portal
      </button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-outline-success w-100" type="button" (click) = "new()"><i class="fa fa-plus"></i> Nuevo usuario</button>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Buscar usuario.. (nick o IP)" [(ngModel)]="termino" (keyup) = "find(termino)">
    </div>
  </div>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th class="w-15">Ip</th>
        <th class="w-25">Nick</th>
        <th class="w-25">Tipo</th>
        <th class="w-20">Portales</th>
        <th class="w-15">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index">
        <td>{{client.ip_address}}</td>
        <td>{{client.nick | username}}</td>
        <td>{{client.client_type.desc}}</td>
        <td>
          <ng-container *ngFor="let portal of client.portals">
            <span *ngIf="portal.name=='Games'" class="badge bg-primary text-white">{{portal.name}}</span>
            <span *ngIf="portal.name=='Descargas'" class="badge bg-info text-white">{{portal.name}}</span>
            <span *ngIf="portal.name!='Games' && portal.name!='Descargas'" class="badge bg-secondary text-white">{{portal.name}}</span>
          </ng-container>
        </td>
        <td>
          <button class="btn btn-outline-info btn-menu" type="button" (click)="edit(client)"  ><i class="fa fa-pencil"></i></button>
          <button class="btn btn-outline-danger btn-menu" type="button" (click)="delete(client)"><i class="fa fa-trash" ></i></button>
          <button aria-labelledby="tooltip" class="btn btn-outline-secondary btn-menu" type="button" (click)="close(client)" [disabled]="global.busy">
            <i class="fa" [ngClass]="{ 'fa-close' :  !global.busy, 'fa-spin fa-spinner' : global.busy }" ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-loading [visible]="clients.length == 0"></app-loading>

</div>
