<div class="container">
  <h1 class="text-center" *ngIf="global.loading">...</h1>
  <h1 class="text-center" *ngIf="!new && !global.loading">Editar portal: <small>{{portal.name}}</small></h1>
  <h1 class="text-center" *ngIf="new && !global.loading">Crear nuevo portal</h1>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger" [routerLink]="['/portal']">
        <i class="fa fa-arrow-left"></i> Atrás
      </button>
    </div>
  </div>

  <hr>

  <div *ngIf="global.loading" class="row justify-content-center">
    <div class="col-md-4">
      <div class="alert alert-info text-center" role="alert">
        <p>
          <i class="fa fa-spin fa-spinner fa-4x"></i>
        </p>
        <h2 class="text-center">Cargando</h2>
      </div>
    </div>
  </div>
  <div *ngIf="!global.loading" class="row justify-content-center">
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit) = "save()">
        <div class="mb-3">
          <label for="name" class="form-label"> <h5>Nombre</h5> </label>
          <input type="text" name="name" id="name" class="form-control form-control-lg" formControlName = "name" [class.is-invalid]="invalid('name')"  placeholder="Nombre de portal">
          <div class="invalid-feedback">
            El nombre es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <label for="address_list" class="form-label"> <h5>Address list</h5> </label>
          <input type="text"  id="address_list" class="form-control form-control-lg" formControlName = "address_list" [class.is-invalid]="invalid('address_list')" placeholder="AddressList">
          <div class="invalid-feedback">
            El address list es obligatorio
          </div>
        </div>
        <div class="mb-5">
          <label for="dhcp_client" class="form-label"> <h5>DHCP client</h5> </label>
          <input type="text"  id="dhcp_client" class="form-control form-control-lg" formControlName = "dhcp_client" [class.is-invalid]="invalid('dhcp_client')" placeholder="dhcp_client">
          <div class="invalid-feedback">
            El DHCP client es obligatorio
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-outline-primary btn-lg w-100" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

