<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <p></p>
          <p>
            <button class="btn btn-lg btn-danger" (click)="closeCurrent()" role="button" [disabled]="disabled">
              <i *ngIf="disabled" class="fa fa-spin fa-spinner fa-4x"></i>
              <h1 *ngIf="!disabled">Cerrar sesión</h1>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-around">
    <div class="col-md-5">
      <h2 class="mb-3">Mis portales</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-70">Portal</th>
            <th></th>
            <th *ngIf="isAuth() || global.clientCan('close-portals')"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let portal of client.portals">
            <td style="font-size: x-large;"> {{portal.name}} </td>
            <td>
              <button class="btn btn-outline-primary btn-menu" (click)="changeTo(portal)" [disabled]="isActive(portal) || global.busy" >
                <i *ngIf="disabled" class="fa fa-spin fa-spinner"></i>
                <ng-container *ngIf="!disabled">{{isActive(portal) ? 'Activo' : 'Cambiar'}}</ng-container>
              </button>
            </td>
            <td *ngIf="isAuth() || global.clientCan('close-portals')">
              <button class="btn btn-outline-danger btn-menu" (click)="close(portal)" *ngIf="!isActive(portal)"  [disabled]="disabled">
                <i class="fa" [ngClass]="{ 'fa-close' :  !disabled, 'fa-spin fa-spinner' : disabled }"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="isAuth() || global.clientCan('see-users-in-portal')" class="col-md-5">
      <h2 class="mb-3">
        Usuarios en mi portal :
        <i *ngIf="global.loading || global.busy" class="fa fa-spin fa-spinner"></i>
        <ng-container *ngIf="!disabled"> {{clientsInPortal.length}} </ng-container>
      </h2>
      <div class="alert alert-info text-center" *ngIf="disabled" role="alert">
        <p>
          <i class="fa fa-spin fa-spinner fa-4x"></i>
        </p>
        <h2 class="text-center">Cargando</h2>
      </div>
      <table class="table table-bordered text-center" *ngIf="!disabled">
        <thead>
          <tr>
            <th class="w-70">Ip</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clientsInPortal">
            <td style="font-size: x-large;"> {{client.ip_address}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="container marketing">

  <app-features></app-features>

</div>


<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/ejanerop" target="_blank">Eric Janero</a>
  </div>
</footer>

