
<app-close-banner></app-close-banner>

<div class="container mb-5">
  <div class="row justify-content-around">
    <div class="col-md-5"  *ngIf="global.client.client_type.allowedPortals != 1">
      <h2 class="mb-3">Mis portales</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-70">Portal</th>
            <th></th>
            <th *ngIf="isAuth() || global.clientCan('close-portals')"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let portal of client.portals">
            <td style="font-size: x-large;"> {{portal.name}} </td>
            <td>
              <button class="btn btn-outline-primary btn-menu" (click)="changeTo(portal)" [disabled]="isActive(portal) || global.busy" >
                <i *ngIf="disabled" class="fa fa-spin fa-spinner"></i>
                <ng-container *ngIf="!disabled">{{isActive(portal) ? 'Activo' : 'Cambiar'}}</ng-container>
              </button>
            </td>
            <td *ngIf="isAuth() || global.clientCan('close-portals')">
              <button class="btn btn-outline-danger btn-menu" (click)="close(portal)" *ngIf="!isActive(portal)"  [disabled]="disabled">
                <i class="fa" [ngClass]="{ 'fa-close' :  !disabled, 'fa-spin fa-spinner' : disabled }"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h2 class="mb-3" *ngIf="!disabled" >
        Usuarios en mi portal :
        <ng-container  *ngIf="isAuth() || global.clientCan('see-users-count-in-portal')">
          <i *ngIf="disabled" class="fa fa-spin fa-spinner"></i>
          <ng-container *ngIf="!disabled"> {{clientsInPortal.length}} </ng-container>
        </ng-container>
      </h2>
      <table class="table table-bordered text-center" *ngIf="isAuth() || global.clientCan('see-users-in-portal')" >
        <thead>
          <tr>
            <th class="w-70">Ip</th>
          </tr>
        </thead>
        <tbody  *ngIf="!disabled">
          <tr *ngFor="let client of clientsInPortal">
            <td style="font-size: x-large;"> {{client.ip_address}} </td>
          </tr>
        </tbody>

        <app-loading [visible]="disabled"></app-loading>

      </table>
    </div>
  </div>

</div>


<app-features></app-features>



<app-footer [sticky]="false"></app-footer>

