<div class="row justify-content-center">
  <div class="col-lg-4">
    <img src="../../../assets/portal.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
    <h2>Login Nauta</h2>
    <p>Inicie sesión con su cuenta de Nauta en el portal de Etecsa.</p>
    <p><a class="btn btn-outline-primary" href="https://secure.etecsa.net:8443/" target="_blank" role="button">Ir a login &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <img src="../../../assets/portal.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
    <h2>Portal de usuario Nauta</h2>
    <p>Recargue su cuenta nauta, transfiera saldo entre otras funcionalidades.</p>
    <p><a class="btn btn-outline-primary" href="https://www.portal.nauta.cu/user/login" target="_blank" role="button">Ir a portal &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <img src="../../../assets/coin.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
    <h2>Cotízate</h2>
    <p>Revisa el estado de tu cuenta JC y de los pagos de la red.</p>
    <p><a class="btn btn-outline-primary" href="http://10.24.122.2/#/home" target="_blank" role="button">Ir a Cotízate &raquo;</a></p>
  </div>
</div>
