<div class="container">

  <div class="row mt-5">
    <div class="col-md-9">
      <h2>Actividad</h2>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Buscar usuario.. (nick o IP)">
    </div>
  </div>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th class="w-15">Fecha</th>
        <th class="w-25">IP</th>
        <th class="w-25">Tipo</th>
        <th class="w-20">Portal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs; let i = index">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-info text-center" role="alert" *ngIf="logs.length == 0">
    <p>
      <i class="fa fa-spin fa-spinner fa-4x"></i>
    </p>
    <h2 class="text-center">No hay usuarios que mostrar</h2>
  </div>
</div>

